@font-face {
    font-family: "Plus Jakarta Sans";
    src: url(assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lime: 61, 70%, 52%;
    --red: 4, 69%, 50%;

    --slate-100: 202, 86%, 94%;
    --slate-300: 203, 41%, 72%;
    --slate-500: 200, 26%, 54%;
    --slate-700: 200, 24%, 40%;
    --slate-900: 202, 55%, 16%;

    --darkf: rgb(14, 36, 49);
}

::selection {
    background-color: hsl(var(--lime));
    color: black;
}

body {
    font-size: 16px;
    font-family: "Plus Jakarta Sans";
    min-height: 100vh;
    background-color: hsl(var(--slate-100));
    display: grid;
    place-content: center;
}

.container {
    display: flex;
    background-color: white;
    max-width: 800px;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.35);
}

.container > * {
    flex: 1;
}

.grid-col-span-2 {
    grid-column: span 2;
}

.input-card {
    padding: 20px;
    display: grid;
    gap: 2rem;  
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head > h1 {
    font-size: 1.5rem;
}

.input-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    user-select: none;
}

input[type="text"] {
    width: 100%;
    display: flex;
    border: 0;
    outline: 0;
    font-size: 1em;
    margin-left: .6rem;
    margin-right: 0.1rem;
}

input[type="radio"] {
    accent-color: hsl(var(--lime));
}

label {
    color: hsl(var(--slate-700));
    font-weight: 500;
}

input:hover {
    cursor: pointer;
}

.input-symbol {
    color: hsl(var(--slate-900));
    font-weight: 700;
    background-color: hsl(var(--slate-100));
    width: fit-content;
    padding: 0.8rem;
}

.input-symbol-error {
    color: white;
    background-color: hsl(var(--red));
}

.error-state {
    font-size: 14px;
    font-weight: 600;
    color: hsl(var(--red));
}

.col {
    display: grid;
    gap: 0.5rem;
}

.div-flex {
    display: flex;
}

.mortgage-amount {
    flex-direction: row-reverse;    
}

.input-border {
    border: 1px solid hsl(var(--slate-300));
    border-radius: 4px; 
    overflow: hidden;
}

.input-border-error {
    border-color: hsl(var(--red));
}

.input-border:hover {
    border-color: black;
}

.mortgage-type {
    width: 100%;
    border: 1px solid;
    border-radius: 4px;
    padding: 10px;
    margin: auto;   
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: 0.3s;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.35);
}

.mortgage-type > label {
    font-weight: bold;
    cursor: pointer;
}

.mortgage-type:hover {
    cursor: pointer;
    border: 1px solid hsl(var(--lime));
}

.mortgage-type:active {
    box-shadow: 0px 0px 0px 0px black;
    transform: translate(2px, 2px);
}

.mortgage-type-active {
    box-shadow: 0px 0px 0px 0px black;
    transform: translate(2px, 2px);
}

.selected {
    color: hsl(var(--lime));
    background-color: hsla(var(--lime), 0.3);
}

button {
    border: 0;
    outline: 0;
    padding: 10px;
    margin-inline: auto;
    border-radius: 1rem;
    width: 100%;
    background-color: hsl(var(--lime));
    font-weight: 700;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.35);
}

button:hover {
    cursor: pointer;
    box-shadow: 5px 5px 1px 0px rgba(0, 0, 0, 0.3);
    transform: translate(-1px, -1px);
    filter: opacity(60%) 
}

button:active {
    filter: opacity(50%);
    box-shadow: 0px 0px 0px 0px black;
    transform: translate(2px, 2px);
    scale: 0.99;
}

.result-card {
    padding: 20px;
    color: white;
    background-color: hsl(var(--slate-900));
    border-bottom-left-radius: 4rem;
    display: grid;
    place-content: center;
    text-align: center;
    gap: 1rem;
}

.result-card > img {
    width: 50%;
    margin-inline: auto;
}

.result-card > h2 {
    font-size: 1.25rem;
}

.result-card > p {
    color: hsl(var(--slate-100));   
    font-size: 13px;
}

.result-card2 {
    text-align: left;
    display: grid;
    gap: 2rem;
}

.result {
    background-color: var(--darkf);
    display: grid;
    gap: 1rem;
    padding: 20px;
    border-top: 4px solid hsl(var(--lime));
    border-radius: 8px;
}

.month-pay {
    font-size: 3rem;
    font-weight: bold;
    color: hsl(var(--lime));
    padding-bottom: 1rem;
    border-bottom: 1px solid hsl(var(--slate-700));
}

/* attribution */

.attribution { 
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 800px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        margin-inline: 20px;
        margin-block: 20px;
    }

    .result-card {
        border-radius: unset;
    }
}

@media (max-width: 550px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        border-radius: unset;
        box-shadow: unset;

    }

    .result-card {
        border-radius: unset;
    }
}